test.json
test.txt
manual-test
custom/*
!custom/filter.py
!custom/model_dict-example.json
!custom/verson_dict-example.json
!custom/batchfile.txt
__pycache__/
**/__pycache__
.venv
dist
**/*.egg-info
test/models